<div 
    class="task"
    (click)="onToggleTask(task)"
>
    <h3>
        {{task.title}} 
        <fa-icon 
            [icon]="faTimes"
            class="icon"
            (click)="onDelete(task)"
        ></fa-icon>
    </h3>
    <p>
        {{task.description}}
    </p>
    <p>{{task.dueDate | date:'dd/MM/yyy, h:mm'}}</p>
    <h3>State</h3>
    <p>{{task.stateHistory[task.stateHistory.length -1].state}}</p>
    <h3>Notes</h3>
    <ul>
        <li *ngFor="let note of task.notes"> {{note}}</li>
    </ul>
</div>