.task {
    background-color: var(--colorPrincipal);
    margin: 5px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.task.task {
    border-left: 10px solid var(--colorBotonVerde);
}

.task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon {
    color: var(--colorBotonRojo);
}