<form 
    [formGroup]="form"
    class="add-form" 
    (ngSubmit)="onSubmit($event)" 
    autocomplete="off"
    *ngIf="showAddTask"
>
    <div class="form-control">
        <label for="title">Title</label>
        <input 
            type="text" 
            name="title"
            formControlName="title"
            id="title" 
            placeholder="titulo"
            required 
    >
    </div>
    <div *ngIf="Title?.errors  && Title?.touched">    
        <p *ngIf="Title?.hasError('required')" class="alert">
            el titulo es requerido
        </p>
    </div>


    <div class="form-control">
        <label for="description">Descripcion</label>
        <input 
            type="text" 
            name="description"
            formControlName="description"
            id="description" 
            placeholder="Descripcion"
            required 
    >
    </div>
    <div *ngIf="Description?.errors  && Description?.touched">    
        <p *ngIf="Description?.hasError('required')" class="alert">
            La descripcion es requerida
        </p>
    </div>

    <div class="form-control">
        <label for="dueDate">Due Day</label>
        <input 
            type="datetime-local"
            name="dueDate"
            formControlName="dueDate" 
            id="dueDate" 
            value="2022-05-05"
            >
    </div>
    <div *ngIf="DueDate?.errors  && DueDate?.touched">    
        <p *ngIf="DueDate?.hasError('required')" class="alert">
            La fecha es requerida
        </p>
    </div>
    
    <input type="submit" value="Save task" class="btn btn-block btn-submit">
</form>
